*background:  #1A2026
*foreground:  #FFFFFF
*cursorColor: #FFFFFF

*color0:	#242D35
*color1:	#FB6396
*color2:	#94CF95
*color3:	#F692B2
*color4:	#6EC1D6
*color5:	#CD84C8
*color6:	#7FE4D2
*color7:	#FFFFFF
*color8:	#526170
*color9:	#F92D72
*color10:	#6CCB6E
*color11:	#F26190
*color12:	#4CB9D6
*color13:	#C269BC
*color14:	#58D6BF
*color15:	#F4F5F2


! Xft configs
Xft.dpi:       96
Xft.antialias: true
Xft.hinting:   true
Xft.rgba:      rgb
Xft.autohint:  false
Xft.hintstyle: hintslight
Xft.lcdfilter: lcddefault


! Urxvt configs
URxvt.iso14755:               false
URxvt.keysym.Shift-Control-V: eval:paste_clipboard
URxvt.keysym.Shift-Control-C: eval:selection_to_clipboard

URxvt*font:                   xft:Dejavu Sans Mono:size=11,xft:Symbola:pixelsize=11
URxvt*termName:               rxvt-unicode-256color
URxvt*scrollTtyOutput:        false
URxvt*scrollWithBuffer:       true
URxvt*scrollTtyKeypress:      true

URxvt.scrollBar:              false
URxvt.pointerBlank:           true
URxvt.cursorBlink:            true
URxvt.pointerBlankDelay:      2
URxvt.saveLines:              20000
URxvt.internalBorder:         50

URxvt.colorUL:                #dbdbdb
URxvt.url-launcher:           /usr/bin/firefox
URxvt.perl-ext-common:        default,matcher
URxvt.matcher.button:         1
URxvt.keysym.C-Delete:        perl:matcher:last
URxvt.keysym.M-Delete:        perl:matcher:list
URxvt.matcher.rend.0:         Uline Bold fg5


! Rofi configs
rofi.location:            0
rofi.modi:                window,run,ssh
rofi.terminal:            urxvt
rofi.hide-scrollbar:      false
rofi.run-shell-command:   /usr/bin/urxvt -e '{cmd}'
rofi.ssh-command:         {terminal} -e "{ssh-client} {host}"
rofi.theme:               /home/osiris/.config/rofi/themes/dark.rasi

rofi.kb-row-up:           Up,Control+k,Shift+Tab,Shift+ISO_Left_Tab
rofi.kb-row-down:         Down,Control+j
rofi.kb-accept-entry:     Control+m,Return,KP_Enter
rofi.kb-remove-to-eol:    Control+Shift+e
rofi.kb-mode-next:        Shift+Right,Control+Tab,Control+l
rofi.kb-mode-previous:    Shift+Left,Control+Shift+Tab,Control+h
rofi.kb-remove-char-back: BackSpace


! xScreensaver configs
xscreensaver.logFile: /var/log/xscreensaver.log
